$border-radius: 15px;

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  .caption {
    padding-top: -20px;
  }
  .photos {
    max-height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      -webkit-border-radius: $border-radius;
    }
  }
}
